{:lein true
 :dev-http {3449 "example/resources/public"}
 :builds {:dev {:target :browser
                :output-dir "example/resources/public/js/compiled"
                :asset-path "/js/compiled"
                :modules {:main {:init-fn quantus.example.core/init}}
                :compiler-options {:infer-externs :auto}}
          :test
          {:target    :node-test
           :output-to "out/node-tests.js"
           :autorun   true}}}
